:root {
    --black: #000000;
    --green: #263D2E;
    --white: #fff;
    --greey: #B7BFBA;
    --green-link: #5f7535;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content {
    width: 80%;
    margin: 0px auto;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.content img {
    border-radius: 50%;
    height: 25%;
    width: 25%;
}

section {
    display: flex;
    flex-direction: column;
}

section h2 {
    border-bottom: 2px var(--green) solid;
}

section p {
    text-align: justify;
    line-height: 1.5;
    margin: 15px 0px;
}

.espaço-imagens {
    background-color: var(--greey);
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.espaço-imagens img {
    width: 25%;
}

.espaço-imagens h2 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
}

.espaço-imagens figure {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

