* {
    margin: 0;
    padding: 0;
}

:root {
    --black: #000000;
    --green: #263D2E;
    --white: #fff;
    --greey: #B7BFBA;
    --green-link: #5f7535;
}

body {
    font-family: sans-serif;
}

.nav-bar {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.logo img {
    height: 36px;
    border-radius: 50%;
}

.nav-bar-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-bar ul {
    list-style-type: none;
}

.nav-bar-links a {
    text-decoration: none;
    color: var(--white);
}

.nav-bar-links a:hover {
    color: var(--green-link);
    transition: .5s;
}

header {
    background-color: var(--green);
    color: white;
    padding: 70px 0px;
}

header h1 {
    width: 80%;
    margin: 0 auto;
    font-size: 55px;
}

:root {
    --black: #000000;
    --green: #263D2E;
    --white: #fff;
    --greey: #B7BFBA;
    --green-link: #5f7535;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content {
    width: 80%;
    margin: 0px auto;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.content img {
    border-radius: 50%;
    height: 25%;
    width: 25%;
}

section {
    display: flex;
    flex-direction: column;
}

section h2 {
    border-bottom: 2px var(--green) solid;
    margin-bottom: 8px;
}

section p {
    text-align: justify;
    line-height: 1.5;
    margin: 8px 0px;
}

.grow:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    border-radius: 10%;
}  

footer {
    background-color: var(--green);
    color: var(--white);
    padding: 35px;
}

footer ul {
    width: 80%;
    margin: 0 auto;
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 30px;
}