* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

/*----------HEADER--------------*/
.menu {
    background-color: black;
    text-align: center;
    padding-bottom: 15px;
}

.logo-menu {
    height: 36px;
    border-radius: 50%;
    padding: 10px;
}

.navbar-menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

.navbar-menu a {
    text-decoration: none;
    color: white;
}

/*----------MAIN--------------*/
/* CONTAINER-LEFT*/
.container-left img {
    height: 10%;
    border-radius: 50%;
}