* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    font-family: sans-serif;
}

header {
    padding: 80px;
    background-color:#1C2F2F;
}

.titulo-header {
    color: white;
    text-align: center;
    font-size: 40px;
}

main {
    width: 80%;
    margin: 30px auto;
}

main hr {
    padding: 1px;
    background-color: #91999A;
}

main h2 {
    font-size: 30px;
}

main p {
    text-align: justify;
    line-height: 25px;
}

figure {
    text-align: center;
}

figure img {
    width: 60%;
    margin: 0px 50px;
}

figcaption {
    font-size: 10px;
}

footer {
    background-color: #1C2F2F;
    padding: 25px;
    color: white;
    font-size: 12px;
}

footer ul {
    width: 80%;
    margin: 0px auto;
}

footer a {
    text-decoration: none;
    color: white;
}